<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div class="header">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">Todo Lists</a>
				</div>
			<div class="collapse navbar-collapse">
				<select ng-change="changeUser(currentUser)" ng-options="(user.firstName + ' ' + user.lastName) for user in users track by selfLink(user)"
					ng-model="currentUser"></select>
			</div>
		</div>
		</div>
	</div>

	<div class="container">
		<div ui-view=""></div>
	</div>

	<div class="footer">
		<div class="container"></div>
	</div>